/*
Navigation
*/
nav{
	font-family: Open Sans;
	font-weight: 300;
	padding-left:0px;
}
nav ul li{
	display: inline;
	padding-right:15px;
}
nav ul{
	padding-left: 0px;
}
nav ul li a{
	color: black;
	text-decoration: none;
}
nav ul li a:hover{
	color: red;
}
.current {
	color: red;
}
